In [1]:
import pandas as pd
import numpy as np

In [2]:
raw_df = pd.read_csv('../Artifacts/raw.csv')

for col in raw_df.columns:
    print('{} dtype : {}'.format(col, raw_df[col].dtype))

id dtype : int64
carat dtype : float64
cut dtype : object
color dtype : object
clarity dtype : object
depth dtype : float64
table dtype : float64
x dtype : float64
y dtype : float64
z dtype : float64
price dtype : int64

In [3]:
output_feature = ['price']
input_feature = list(raw_df.drop(columns=['price'], index=0).columns)

output_feature

['price']

In [4]:
input_feature

['id', 'carat', 'cut', 'color', 'clarity', 'depth', 'table', 'x', 'y', 'z']

In [5]:
raw_df[input_feature].head()

   id  carat        cut color clarity  depth  table     x     y     z
0   0   1.52    Premium     F     VS2   62.2   58.0  7.27  7.33  4.55
1   1   2.03  Very Good     J     SI2   62.0   58.0  8.06  8.12  5.05
2   2   0.70      Ideal     G     VS1   61.2   57.0  5.69  5.73  3.50
3   3   0.32      Ideal     G     VS1   61.6   56.0  4.38  4.41  2.71
4   4   1.70    Premium     G     VS2   62.6   59.0  7.65  7.61  4.77

In [6]:
raw_df[output_feature].head()

   price
0  13619
1  13387
2   2772
3    666
4  14453

In [8]:
train_df = pd.read_csv('../Artifacts/train.csv')
test_df = pd.read_csv('../Artifacts/test.csv')

In [12]:
output_feature = ['price']
input_feature = list(train_df.drop(columns=['price'], index=0).columns)

train_input_df = train_df[input_feature]
train_output_df = train_df[output_feature]

test_input_df = test_df[input_feature]
test_output_df = test_df[output_feature]

In [21]:
test_input_df.head()

,Unnamed: 0,id,carat,cut,color,clarity,depth,table,x,y,z
0,83327,83327,2.33,Ideal,H,SI2,62.0,56.0,8.56,8.51,5.26
1,31556,31556,0.62,Ideal,F,SI1,62.0,57.0,5.46,5.49,3.40
2,40150,40150,1.19,Ideal,H,SI1,61.6,55.0,6.77,6.82,4.19
3,64647,64647,1.01,Ideal,I,VS2,62.2,57.0,6.36,6.38,3.97
4,185479,185479,0.31,Ideal,G,IF,62.4,55.0,4.39,4.36,2.73

In [16]:
train_df.head()

,Unnamed: 0,id,carat,cut,color,clarity,depth,table,x,y,z,price
0,150258,150258,1.00,Ideal,F,SI1,61.5,56.0,6.42,6.45,3.96,4838
1,49222,49222,2.19,Premium,H,SI2,60.1,61.0,8.48,8.40,5.03,15695
2,6481,6481,1.04,Very Good,H,SI2,63.4,55.0,6.46,6.43,4.09,3660
3,19558,19558,1.05,Very Good,F,SI2,59.1,60.0,6.62,6.59,3.91,4640
4,57228,57228,0.40,Ideal,I,VVS2,61.8,56.0,4.77,4.74,2.94,1125

In [30]:
num_cols = [col_name for col_name in raw_df.columns if raw_df[col_name].dtype != 'object']
num_cols[1:len(num_cols)-1]

['carat', 'depth', 'table', 'x', 'y', 'z']

In [29]:
num_cols

['id', 'carat', 'depth', 'table', 'x', 'y', 'z', 'price']

In [20]:
num_cols = num_cols[:-1]
num_cols

['id', 'carat', 'depth', 'table', 'x', 'y']

In [22]:
cat_cols = [col_name for col_name in raw_df.columns if raw_df[col_name].dtype == 'object']
cat_cols

['cut', 'color', 'clarity']